/* Workspaces                                    */
@define-color textcolor1 #74c7ec;
@define-color wsunderlinecolor #fb4a58;
@define-color wsunderlinecoloractive #db154d;
@define-color wsunderlinecolorurgent #75ecf8;
/*                                               */

/* CPU, memory, brightness, volume, date */
@define-color cpu #0376f3;
@define-color traycolor #5270d3;
/*                                               */

/* Battery                                       */
@define-color normal #ffffff;
@define-color warning #ff9001;
@define-color critical #e50000;
/*                                               */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMonoNL Nerd Font";
    min-height: 0;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    /*font-size: 11px;*/
}

/* Main waybar CSS style*/
window#waybar {
    background: linear-gradient(135deg, rgba(30, 30, 46, 0.95) 12%, rgba(17, 17, 27, 0.95) 12%,rgba(17, 17, 27, 0.95) 84.5%, rgba(24, 24, 37, 0.95) 84.5%, rgba(24, 24, 37, 0.95) 95.2%, rgba(49, 50, 68, 0.95) 95.2%, rgba(49, 50, 68, 0.95) 100%);
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #74c7ec;
    border-radius: 5px;
}

#workspaces {
    font-size: 14px;
    background: transparent;
    box-shadow: none;
    margin: 5px 1px 6px 5px;
    padding: 0px 23px; 
    font-weight: bold;
    opacity: 1;
    color: @textcolor1;
    text-shadow: none;
}

#workspaces button {
    all: initial;
    background: transparent;
    border-radius: 0;
    box-shadow: inset 0 -3px transparent;
    font-style: normal;
    margin: 4px 5px;
    padding-right: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

#workspaces button.active {
    color: @textcolor1;
    background: transparent; 
    /*border-radius: 0;*/
    min-width: 20px;
    transition: all 0.3s ease-in-out;
    /*opacity:1.0;*/
}

#workspaces button.urgent {
    color: @textcolor1;
    background: transparent; 
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
    /*border: rgba(0, 0, 0, 0.2);*/
    color: @textcolor1;
    /*outline: none;*/
}

#memory,
#cpu,
#language,
#wireplumber,
#pulseaudio,
#backlight {
    background: rgb(205,214,244);
    background: transparent;
    border: 7px solid transparent;
    font-size: 16px;
    /*font-weight: bold;*/
    font-style: normal;
    color: @iconcolor1;
}

#battery {
    background: transparent;
    border: 7px solid transparent;
    font-size: 16px;
    font-style: normal;
    color: @iconcolor1;
}

#battery.warning {
    background: transparent; 
    border: 7px solid transparent;
    font-size: 16px;
    font-style: normal;
    color: #000000;
}

#battery.critical {
    background: transparent; 
    border: 7px solid transparent;
    font-size: 16px;
    font-style: normal;
    color: @iconcolor1;
}

#clock {
    background: transparent;
    border: 7px solid transparent;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: rgb(205,214,244);;
}

#tray {
    background: transparent; 
    border: 3px solid transparent;
    margin: 5px 0px 8px 5px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    font-style: normal;
    font-size: 16;
}

#custom-separator {
    color: rgba(0,0,0,0);
    margin: 0 20px;
}

#custom-gamemode {
    color: rgb(205,214,244);
    padding-left: 10px;
    padding-right: 10px;
}

#custom-notification-toggle {
    color: rgb(205,214,244);
    padding-left: 10px;
    padding-right: 28px
}

tooltip * {
    background: transparent;
}

tooltip.background {
    background: rgba(17, 17, 27, 0.92);
}

/* Style actual tooltip content */
tooltip label {
    border: 2px solid #74c7ec;
    border-radius: 4px;
    padding: 15px;                           /* add space inside the tooltip */
    color: #cdd6f4;                         /* light text color */
}

#custom-power-menu {
    margin: 5 35 6 5;
}
